/* VARIABLES & FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Press+Start+2P&display=swap");

:root {
  --gridSize: 16;
  --clr-light: rgb(239, 238, 238);
  --clr-dark: rgb(41, 43, 55);
  --clr-grayD: rgb(70, 79, 88);
  --clr-grayL: rgb(210, 209, 209);
}

/* BASE RULES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.8rem;
}

/* STYLES */
body {
  height: 100vh;
  width: auto;
  text-align: center;
  background: url("./assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

/* HEADER */
.header h1 {
  font-family: "Bungee Shade", "Press Start 2P", sans-serif;
  font-size: 4rem;
}

.header p {
  padding-top: 30px;
  font-size: 1.2rem;
}

/* MAIN */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SIDEBAR */
.sidebar {
  background-color: var(--clr-dark);
  color: var(--clr-grayL);
  font-size: 0.8rem;
  height: 600px;
  padding: 25px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  box-shadow: 0 -2px 0 hsla(0, 0%, 100%, 0.15),
    inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}

.color-wheel {
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
  border-radius: 100%;
}

#colorpicker {
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  box-shadow: 0px 3px 6px #0000001a;
  transform: scale(1.2);
}

.option-container--color,
.option-container--size,
.btn-container--color,
.btn-container--size {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn-container--color,
.btn-container--size {
  gap: 8px;
}

.btn {
  font-family: inherit;
  font-size: 0.8rem;
  background-color: var(--clr-grayD);
  color: var(--clr-grayL);
  padding: 10px 10px;
  box-shadow: inset 0 1px 0 hsl(223, 8%, 44%),
    inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

/* GRID */
.grid-container {
  display: grid;
  grid-template: repeat(var(--gridSize), 1fr) / repeat(var(--gridSize), 1fr);
  height: 600px;
  width: 600px;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-grayL);
  box-shadow: inset 0 1px 0 hsl(224, 84%, 74%),
    inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

.cell {
  border: 0.5px dotted rgb(190, 189, 189);
}

.no-gridlines {
  border: none;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  color: var(--clr-light);
}

footer i {
  color: var(--clr-light);
  font-size: 1.8rem;
}
